* {
	box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.panel {
	width: 50%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

#js {
	width: 100%;
	height: 100%;
	border-right: 1px solid #ccc;
}

/* Copied from ace theme */
.outputList {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;;
}

.output__line--active {
	background: rgba(0, 0, 0, 0.07);
}
